# Compiled provider binary
terraform-provider-vanta

# GoReleaser output
dist/

# Terraform working files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# Editor / OS noise
.idea/
.vscode/
*.swp
.DS_Store
